<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">TopForklifts</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/cotizaciones">Cotizaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/inventario">Inventario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/addBoleta">Crear boleta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/checkBoleta">Revisar boleta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="text-center">
  <img class="img-fluid" src="https://optimise2.assets-servd.host/cromer-inc/production/images/hero/hero-newused_2022-12-23-214010_gkpk.jpg?w=1918&auto=compress%2Cformat&fit=crop&dm=1671831648&s=3fea6cdac0a76eacbeae8f8e46411f2d">
</div>
